.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.anchorColor {
  color: #ff7d28 !important;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.scrollable-tbody > table > tbody{
  display:block !important;
  max-height: 343px !important;
  overflow-y:scroll !important;
  overflow-x:scroll !important;
}

.scrollable-tbody > table > thead, .scrollable-tbody > table > tbody tr {
  display:table !important;
  width:100% !important;
  table-layout:fixed !important;
}

.scrollable-tbody > table > thead, .scrollable-tbody > table > tbody {
  width: calc( 100% - 1em ) !important;
  max-width: 800px !important; 
}

.scrollable-tbody > table > tbody{
	max-height: 200px !important; 
}
